body, h1, h2, h3, h4, p, ol, ul, li, link, nav {
  font-family: sans-serif;
}

.NavContainer {
  display: flex;
  flex-direction: column;
  height: 100vW;
  width: 25%;
  background-color: darkgreen;
}
ol{ list-style: none;}

.linkeo {
  text-decoration: none;
  font-size: 24px;
  color: white;
  margin: 70px auto;

}

.wrapper {
  background-image: url("./img/ladrillo.jpg");
  width: 100vW;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 150px;
  height: 150px;
  background-color: green;
  border: 2px solid darkgreen;
  margin: 20px;
  background-size: cover;
}

.mario {
  background-image: url("./img/mario.jpg");
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.luigi {
  background-image: url("./img/luigi.jpg");
}

.peach {
  background-image: url("./img/peach.jpeg");
}

.yoshi {
  background-image: url("./img/yoshi.jpeg");
}

@media (max-width: 500px) {
  html .item {
    flex: 0 1 100%;
    background-position: 0 20%;
  }
}
